// 
// Icons
// 

// Styling for the rounded social media links

.social-icons {
    .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 3.5rem;
        background-color: $gray-700;
        color: $white;
        border-radius: 100%;
        font-size: 1.5rem;
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $primary;
            transform: translateY(-3px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        
        &.pdf-download {
            background-color: #dc3545;
            
            &:hover {
                background-color: #c82333;
            }
        }
    }
}

// Styling for the development technology icons
.dev-icons {
    font-size: 3rem;
}
